version: '3.9'

services:

  broker1:
    image: confluentinc/cp-kafka:7.6.1
    container_name: broker1
    environment:
      KAFKA_BROKER_ID: 1
      KAFKA_ZOOKEEPER_CONNECT: zookeeper:2181
      KAFKA_ADVERTISED_LISTENERS: PLAINTEXT://broker1:9092
      KAFKA_LISTENERS: PLAINTEXT://0.0.0.0:9092
    ports:
      - "9092:9092"

  broker2:
    image: confluentinc/cp-kafka:7.6.1
    container_name: broker2
    environment:
      KAFKA_BROKER_ID: 2
      KAFKA_ZOOKEEPER_CONNECT: zookeeper:2181
      KAFKA_ADVERTISED_LISTENERS: PLAINTEXT://broker2:9092
      KAFKA_LISTENERS: PLAINTEXT://0.0.0.0:9092
    ports:
      - "9093:9092"

  broker3:
    image: confluentinc/cp-kafka:7.6.1
    container_name: broker3
    environment:
      KAFKA_BROKER_ID: 3
      KAFKA_ZOOKEEPER_CONNECT: zookeeper:2181
      KAFKA_ADVERTISED_LISTENERS: PLAINTEXT://broker3:9092
      KAFKA_LISTENERS: PLAINTEXT://0.0.0.0:9092
    ports:
      - "9094:9092"

  zookeeper:
    image: confluentinc/cp-zookeeper:7.6.1
    container_name: zookeeper-kafka
    environment:
      ZOOKEEPER_CLIENT_PORT: 2181

  init-topic:
    container_name: init-topic
    image: confluentinc/cp-kafka:7.6.1
    depends_on:
      - broker1
      - broker2
      - broker3
    entrypoint: >
      bash -c "
      echo 'Creating topic test-topic with 3 partitions and replication factor 3';
      kafka-topics --create --topic test-topic --partitions 3 --replication-factor 3 --bootstrap-server broker1:9092;
      echo 'Topic created';
      "

  # -----------------------
  # Consumers
  # -----------------------

  consumer-A-group1:
    container_name: consumer-A-group1
    image: confluentinc/cp-kafka:7.6.1
    depends_on:
      - broker1
      - broker2
      - broker3
      - init-topic
    entrypoint: >
      bash -c "
      kafka-console-consumer \
      --bootstrap-server broker1:9092,broker2:9092,broker3:9092 \
      --topic test-topic \
      --group group1 \
      --from-beginning
      "

  consumer-B-group1:
    container_name: consumer-B-group1
    image: confluentinc/cp-kafka:7.6.1
    depends_on:
      - broker1
      - broker2
      - broker3
      - init-topic
    entrypoint: >
      bash -c "
      kafka-console-consumer \
      --bootstrap-server broker1:9092,broker2:9092,broker3:9092 \
      --topic test-topic \
      --group group1 \
      --from-beginning
      "

  consumer-A-group2:
    container_name: consumer-A-group2
    image: confluentinc/cp-kafka:7.6.1
    depends_on:
      - broker1
      - broker2
      - broker3
      - init-topic
    entrypoint: >
      bash -c "
      kafka-console-consumer \
      --bootstrap-server broker1:9092,broker2:9092,broker3:9092 \
      --topic test-topic \
      --group group2 \
      --from-beginning
      "
